ALTER TABLE parcours ADD CONSTRAINT FK_99B1DEE3B3E9C81 FOREIGN KEY (niveau_id) REFERENCES niveau (id);
CREATE INDEX IDX_99B1DEE3B3E9C81 ON parcours (niveau_id);
ALTER TABLE prof DROP FOREIGN KEY FK_5BBA70BB7A4147F0;
ALTER TABLE prof DROP FOREIGN KEY FK_5BBA70BB27634BEF;
ALTER TABLE prof DROP FOREIGN KEY FK_5BBA70BB6E38C0DB;
DROP INDEX IDX_5BBA70BB7A4147F0 ON prof;
DROP INDEX IDX_5BBA70BB6E38C0DB ON prof;
DROP INDEX IDX_5BBA70BB27634BEF ON prof;
ALTER TABLE prof DROP mention_id, DROP ec_id, DROP parcours_id;
ALTER TABLE semestre DROP FOREIGN KEY FK_71688FBCB3E9C81;
DROP INDEX IDX_71688FBCB3E9C81 ON semestre;
ALTER TABLE semestre DROP niveau_id;
ALTER TABLE ue_parcours DROP FOREIGN KEY FK_82440F44B3E9C81;
DROP INDEX IDX_82440F44B3E9C81 ON ue_parcours;
DROP INDEX ue_parcours_unique ON ue_parcours;
ALTER TABLE ue_parcours DROP niveau_id, CHANGE ue_id ue_id INT NOT NULL;
CREATE UNIQUE INDEX ue_parcours_unique ON ue_parcours (ue_id, parcours_id);
